body {
	width: 200px;
}
.cssbutton {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-family: Arial;
	padding: 12px;
	text-decoration: none;
	border: 0px;
	color: #555555;
	background: #e6e6e6;
}
.cssbutton:hover {
	text-decoration: none;
	cursor: pointer;
	background: #cfcfcf;
}
#exchange {
	display: none;
}