body {
	width: 500px;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

.VSbutton {
	border-radius: 10px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 12px;
	text-decoration: none;
	border: 0;
	color: #555555;
	background: #e8e8e8;
}

.VSbutton:hover {
	text-decoration: none;
	cursor: pointer;
	background: #bfbfbf;
}

#popText {
	display: none;
}